.modal.fade#guidelines
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          What Does it Mean To Adopt a Drain?
      .modal-body
        %p
          When you adopt a storm drain through the City of Virginia Beach Adopt-a-Drain program, you are volunteering to keep your storm drain clear from debris, such as grass clippings, leaves, pine needles, sediment, and trash. By taking care of your adopted storm drain, you’re helping to keep our local waterways clean and healthy.
        %h3
          Stay safe
        %p
          Your well-being and enjoyment are important to the City. All volunteers are expected to conduct themselves in a safe, courteous and legal manner while participating in activities on City property or right-of-way. All volunteers must please observe the following guidelines when volunteering to keep drains clear of debris.
        %ul
        %li
          Do not adopt a drain located in a high-traffic area where clearing of the drain would present a risk to volunteers and/or motorists. 
        %li
          If children are helping, make sure adults are supervising.
        %li
          Wear highly visible, brightly colored or reflective clothing to alert traffic and drivers.
        %li
          Wear durable or heavy, closed toe, shoes/boots, preferably with ankle support.
        %li
          Wear gloves and durable pants, tops, jackets, and hats. 
        %li
          Stay hydrated.
        %li
          Cross streets at signals or crosswalks, not mid-block.
        %li
          Collect the debris from the curb or sidewalk and stay out of the road whenever possible.
        %li
          Work facing traffic.
        %li
          Be aware of your surroundings, make sure to watch for cars; whenever possible, work with a partner who can watch for traffic hazards while you are cleaning the storm drain.
        %li
          Do not block travel lanes. 
        %li
          Never attempt to clear debris if there is moving water greater than knee deep.
        %li
          Be cautious when walking on potentially slippery and uneven surfaces.
        %li
          Use a rake, shovel or other tool to remove material from the storm drain, NOT your hands. 
        %li
          Wash hands and any clothing after contact with stormwater runoff, which can contain pollutants, including bacteria. Have first aid supplies available.
        %li
          Do NOT go into storm drains for any reason.
        %li
          Call 911 for emergencies.
        %h3
          Debris Removal
        %ul
        %li
          If possible, clear the drain before it starts raining.
        %li
          Clear about 10 feet on both sides of the drain.
        %li
          Always sweep, rake or shovel glass. Never pick up sharp objects with your hands.
        %li
          Only pick up debris that is on top of the drain or in the gutter. Do NOT enter or reach inside drain to retrieve trash or debris.
        %li
          Do NOT remove the grate cover from the storm drain opening.
        %li
          Use a broom to sweep up remaining sediment or debris around the drain.
        %li
          Do not leave cleared debris near the drain. Please dispose of recyclables and garbage into home recycling or refuse containers. 
        %h3
          Report Issues to the City
        %ul
        %li
          Please contact the Virginia Beach Public Works Operations Department (757-385-1470) to report any storm drains that need cleaning inside.
        %li
          Please report illegal dumping of waste (medical, construction, or household hazardous waste) or pollutants to the City of Virginia Beach Public Works Stormwater Program. Call 311 or use the VB Works app, available for iPhone or Android.
        %li
          Please contact the City of Virginia Beach Public Works Operations Department (call 311 or use the VB Works app) to report any storm drains which appear to be broken or otherwise damaged.
        %h3
          General Conduct
        %ul
        %li
          Be respectful when naming your drain through the Adopt-a-Drain webpage. Do not use profanity or insulting language.
        %li
          Always be courteous to fellow volunteers and City employees.
        %li
          Never use vulgar language or engage in threatening or disruptive actions.
        %h3
          %em
            Note: The City reserves the right to immediately withdraw support for any volunteer if, at the sole discretion of the City, the volunteer’s conduct while participating in volunteer activities on City property or right-of-way or online is determined to be inconsistent with these Volunteer Guidelines or violates any local, state or federal law.
      .modal-footer
        %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"}
          Close
