.modal.fade#tos
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h2
          = t("titles.tos")
      .modal-body
        %ol
          %li
            %h3
              Description of Adopt-a-Drain
            %p
              Adopt-a-Drain (AAD) is an initiative of the City of Virginia Beach.  Storm drains in Virginia Beach neighborhoods drain to local waterways.  AAD allows users to “adopt” storm drains in their neighborhood and commit to keeping them clear of leaves and other debris to reduce flooding and water pollution. 
          %li
            %h3
              Volunteer Waiver & Release Of Liability
              %ol.alpha
                %li
                  I am voluntarily participating in the City of Virginia Beach’s Public Works Department volunteer program.  I have read and agree to follow the Volunteer Guidelines .  I acknowledge my participation in these events does not come without the risk of injury or harm;  I accept this risk, and assume responsibility for all liability and risk associated with my participation.
                %li
                  I agree to hold harmless, release, waive and forever discharge the City of Virginia Beach, its employees, departments, officers and agents, from any and all claims or demands I may have by reason of any accident, illness, injury, loss, destruction or damage to property, arising or resulting directly or indirectly from my participation in this activity.  
                %li
                  I further covenant not to bring any legal action against the City of Virginia Beach, its employees, departments, officers and agents, for any injury, loss or damage resulting from my participation in this activity.
                %li
                  This Waiver and Release is contractual and not a mere recital and applies whether or not injury or loss resulting from this activity is caused by an act or omission of the City, its employees, departments, officers or agents, negligent or otherwise.
                %li
                  This Waiver and Release is binding on my heirs, executors, administrators, assigns, and all of my family members, and applies to all losses, whether known or unknown, suspected or unsuspected, related to my participation in this activity.
        %p
          Last updated November 28, 2017.
      .modal-footer
        %button.btn.btn-default{:type => "button", :id => "close", :"data-dismiss" => "modal"}
          I Agree